<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="author" content="Quang Nhat" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="googlebot" content="notranslate" />
    <meta name="google" content="nopagereadaloud" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta property="og:title" content="Nhat - Software Developer" />
    <meta property="og:image" content="images/preview.png" />
    <meta
      property="og:description"
      content="Personal Portfolio Of Nhat - Software Developer"
    />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/avatar-icon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/avatar-icon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/avatar-icon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/avatar-icon.svg"
    />
    <link rel="icon" type="image/ico" href="avatar-icon.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
