// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #11071f;
$primary-lighter: #251c31;
$primary-light: #e0f1ff;
$secondary: #1a0b2e;
$text-primary: #ffffff;
$text-secondary: #a362ff;
$accent: #9c27b0;
$dark: #1d1d1d;
$primary-lighter-rgba: rgb(58, 176, 255, 0.2);
$positive: #21ba45;
$negative: #ef4135;
$info: #31ccec;
$warning: #f2c037;
